{% if saved_games %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<table class="table">
  <thead>
    <tr>
      <th>Тур</th>
      <th><abbr title="Дивизион">Див</abbr></th>
      <th>Матч</th>
      <th>Счёт</th>
      <th>Ссылки</th>
    </tr>
  </thead>

  <tbody>
    {% for game in saved_games %}
    <tr>
      <td>{{ game.tour }}</td>
      <td>{{ game.division }}</td>
      <td>{{ game.player}} ' - ' {{ game.opponent }}</td>
      <td>{{ game.player_score }} ' - ' {{ game.opponent_score }}</td>
      <td>
        <ul>
            {% for link in game.get_links %}
              <li>
                <a href="https://lichess.org/{{ link }}" target="_blank">lichess.org/{{ link }}</a>
              </li>
            {% endfor %}
        </ul>
      </td>
    {% endfor %}

{% else %}
    <p>No games.</p>
{% endif %}